# Default owners of everything in the repository.
*    @samyfarha @harinorbert @friedgab @vargala4 @erno-solymosi @animoku168 @DorikaJ @VagoLali @action87 @gotamas

# Owners of documentation
/docs/    @samyfarha
*.md    @samyfarha

# last matching pattern make precedence (next matchings would be ignored)
